:root {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  color: #08060d;
  background: #edf4fa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button,
input,
select {
  font: inherit;
}
