.description {
  text-align: start;
}

.title {
  margin: 0 0 4px;

  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.text {
  color: #767676;
  font-size: 21.24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
}