.field {
  position: relative;

  display: flex;
  align-items: center;

  inline-size: 100%;
  block-size: 57px;
  overflow: hidden;

  background: #fff;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
}

.input,
.select {
  inline-size: 100%;
  block-size: 100%;

  background: transparent;
  border: none;

  color: #000;
  font-size: 22.06px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;

  &:focus {
    outline: none;
  }
}

.input {
  inline-size: 110px;
  padding: 0 20px;
}

.select {
  padding: 0 48px 0 20px;
  appearance: none;
}

.divider {
  inline-size: 1px;
  block-size: 40px;
  background: #d9d9d9;
}

.arrow {
  position: absolute;
  inset-inline-end: 22px;

  inline-size: 18px;
  block-size: 18px;

  color: #7f858b;

  transform: rotate(180deg);

  pointer-events: none;
}