.header {
  text-align: center;
}

.label {
  color: #767676;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
}

.result {
  padding-block-start: 2px;

  color: #000;
  font-size: 44.17px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
}

.date {
  padding-block-start: 19.65px;

  color: #767676;
  font-size: 14.7px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
}
